* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Trebuchet MS";
}

.Header {
  text-align: center;
  background-color: #cc90e0;
  padding: 2rem;
  width: 100%;
}
